@use "colors";
@use "text";

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 30px;
    line-height: 1.5;
    text-align: center;
    font-family: text.$font-base;
    font-size: text.$size;
    font-optical-sizing: auto;
    background-color: white;

        @media screen and (min-width: 768px) {
            max-width: 1440px;
            font-size: text.$size-PC;
        }
}