@use "base";
@use "colors";
@use "text";
@use "footer";
@use "header";

.kontakt {
        
        @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;

                &__1 {
                        min-height: 800px;
                }
        }

        &__1-title {
                padding-top: 50px;
                padding-bottom: 20px;
                margin: 0;
                font-size: text.$size;
                color: colors.$primary;
                
                @media screen and (min-width: 768px) {
                        font-size: text.$size-h2;
                }
        }

        &__1-text {
                max-width: 70%;
                margin: 0 auto;
        }
       

        &__1-email,
        &__1-linkedin {
                margin-top: 25px;
                margin-bottom: 25px;
        }

        &__1-odkaz1,
        &__1-odkaz2 {
                color: colors.$logo-stroke;
                text-decoration: none;
                margin-bottom: 30px;
        }

        &__1-message {
                background-color: colors.$form;
                border: 2px solid colors.$primary;
                border-radius: 5%;
                margin: 0 auto;
                max-width: 70%;
        }

        &__button {
                padding: 5px 10px;
                margin-bottom: 16px;
                border: 2px solid colors.$primary;
                border-radius: 10%;
                background-color: white;
                font-family: text.$font-base;
                font-size: text.$size;
        }

        &__2-picture {
                display: block;
                margin: 0 auto;
                margin-top: 30px;
                width: 50%;
                height: 50%;

                @media screen and (min-width: 768px) {
                        width: 100%;
                        height: auto;
                }
        }
}

.form-field {
        margin-bottom: 10px;
}

.form-field label {
        display: block;
}

.form-field input {
         width: 70%;
}

.form-field textarea {
        width: 70%;
        height: auto;
        border-radius: 5%;
}