@use "base";
@use "colors";
@use "text";
@use "footer";
@use "header";

.kontakt {
        
        &__1-paragraph {
                padding-top: 50px;
                padding-bottom: 20px;
                font-size: text.$size;
                color: colors.$primary;
        }

        &__1-odkaz1,
        &__1-odkaz2,
        &__1-odkaz3 {
                color: colors.$logo-stroke;
                text-decoration: none;
        }

        &__1-message {
                background-color: colors.$form;
                border: 2px solid colors.$primary;
                border-radius: 5%;
        }

        &__button {
                padding: 5px 10px;
                border: 2px solid colors.$primary;
                border-radius: 10%;
                background-color: white;
                font-family: text.$font-base;
                font-size: text.$size;
        }
}

.form-field {
        margin-bottom: 10px;

}

.form-field label {
        display: block;
}

.form-field {
        
}

.kontakt__2-picture {
        display: block;
        margin: 0 auto;
}

