@use "text";
@use "colors";
@use "base";

.footer {
    font-size: text.$size-footer;
    color: colors.$footer;
    margin-top: 50px;
    margin-bottom: 10px;

        @media screen and (min-width: 768px) {
            font-size: text.$size-footer-PC;
        }
}