@use "colors";
@use "base";
@use "text";

.header {
    
    &__inner {
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;
        margin-top: 30px;
    }

    &__logo {
        width: 20%;
        position: absolute;
        left: 15px;
        top: 15px;
    }
}

.menu {

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    &__link {
        display: block;
        padding: 10px;
        font-family: text.$font-base;
        font-size: text.$size-menu-link;
        text-decoration: none;
        color: colors.$primary;

        @media screen and (max-width: 400px) {
            padding: 5px;
        }
    }

    &__link:hover {
	    color: black ;
    }

    &__item {
        position: relative;
    }

    &__item:hover &__submenu {
        display: block;
    }

    &__submenu {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        list-style: none;
        padding: 0.5em;

        &__toggle {
            display: none;
        }

            &__:checked~&__submenu {
                display: block;
            }
    }
}


.hero-image {
    width: 100%;
    height: 150px; 
    object-fit: cover;
    object-position: 0 0;
}
