@use "colors";
@use "text";
@use "base";

.main {

    &__a1-title,
    &__a2-title {

        padding-top: 50px;
        padding-bottom: 20px;
        margin: 0;
        font-family: text.$font-base;
        font-size: text.$size-h2;
        color: colors.$title-article;

            @media screen and (min-width: 768px) {
                font-size: text.$size-h2-PC;
                padding-top: 70px;
            }
    }
    
    &__a1-picture,
    &__a2-picture {
        width: 75%;
        border: 3px solid colors.$logo-stroke;
    }

    &__a1-picture {
        border-radius: 0 5%;
    }

    &__a2-picture {
        border-radius: 5% 0;
    }

    &__a1-paragraph,
    &__a2-paragraph {
        padding-left: 30px;
        padding-right: 30px;

        @media screen and (min-width: 768px) {
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    &__a1-button,
    &__a2-button {

        padding: 5px 10px;
        border: 1px solid colors.$primary;
        border-radius: 10%;
        background-color: colors.$primary;
        font-family: text.$font-base;
        font-size: text.$size;

        @media screen and (min-width: 768px) {
            font-size: text.$size-h2;
        }
    }

    @media screen and (min-width: 768px) {
        
        display: flex;
        flex-wrap: wrap;

            &__a1,
            &__a2 {
                flex-basis: 50%;
            }
    }
}

.read-more {
    color: white;
    text-decoration: none;
}