@use "colors";
@use "text";
@use "base";

.about_project1-title {

        font-size: text.$size-menu-link;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 20px;
    }

.about_project2-picture {

        max-width: 100%;
        height: 344px;
        border: 2px solid colors.$logo-stroke;
        border-radius: 5%;


}