$font-base: "Nunito", Helvetica, Arial, sans-serif;

$size: 16px;
$size-PC: 18px;

$size-menu-link: 16px;
$size-menu-link-PC: 24px;

$size-h2: 20px;
$size-h2-PC: 24px;

$size-footer: 12px;
$size-footer-PC: 16px;
