html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

$primary: #FF892C;
$logo-stroke: #CC5803;
$obrazek-stroke: #ca6702;
$nadpis-clanek: #f77f00;
$seda-formular: #EAD7D7;

$font-base: "Instrument Sans", Helvetica, Arial, sans-serif;
$font-logo: "Poiret One", "Montserrat", sans-serif;

$velikost: 14px;
$velikost-h2: 16px;

body {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    font-family: $font-base;
    font-size: $velikost;
    font-optical-sizing: auto;
    background-color: white;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.header__logo {
    width: 20%;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/*.menu__item {
	margin: 0;
	padding: 0;
} */

.menu__link {
	display: block;
	padding: 10px;
	font-family: $font-base;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.menu__link:hover {
	color: $primary;
}

.hero__image {
    width: 100%;
    height: auto;
}

.main {

    &__a1__title,
    &__a2__title {

        padding-top: 30px;
        padding-bottom: 20px;
        font-size: $velikost-h2;
        color: $nadpis-clanek;
}

    &__a1__picture,
    &__a2__picture {
        width: 100%;
        border: 2px solid $obrazek-stroke;
        border-radius: 5%;
        margin-top: 50px;
}
}

.read-more {
    margin-top: 30px;
}

.footer {
    font-size: 12px;
    color: #adb5bd;
    margin-bottom: 10px;
}

@media screen and (min-width: 1100px) and (max-width: 1440px) {

      body {
        max-width: 1440px;
    }

}