html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

$primary: #FF892C;
$logo-stroke: #CC5803;
$nadpis-clanek: #EE3D3D;
$seda-formular: #EAD7D7;

$font-base: "Instrument Sans", Helvetica, Arial, sans-serif;
$font-logo: "Poiret One", "Montserrat", sans-serif;

$font: 16px;
$font-h2: 20px;
$font-h3: 18px;

body {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    font-family: $font-base;
    font-size: $body-font-size;
    font-optical-sizing: auto;
    background-color: white;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.header__logo {
    width: 20%;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/*.menu__item {
	margin: 0;
	padding: 0;
} */

.menu__link {
	display: block;
	padding: 10px;
	font-family: $font-base;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.menu__link:hover {
	color: $primary;
}

.hero__image {
    width: 100%;
    height: 100px;
}

.main__a1__title {
    padding-top:30px;
    padding-bottom: 20px;
    font-size: $font-h2;

}

.main__a1__picture {
    width: 100%;
    border: 3px solid $primary;
    border-radius: 5%;
}

@media screen and (min-width: 1100px) and (max-width: 1440px) {
      body {
        max-width: 1440px;
    }

}